
/* Sección del modal Foto:
--------------------------------*/

#modalF .modal-dialog{
	overflow-y: initial !important;
	margin-right: 10px;
	margin-top: 286px;
}

#modalF .modal-content{
	width: 400px;
	height: 400px;
	background: #ffffff;
	left: -40%;
	background-color: #050505; 
	transition: 1s; 
}

#modalF .modal-body{
	width: 400px;
	height: 400px;
    overflow-y: auto;
}

#modalF .modal-title{
	font-family: Arial rgb(255, 248, 248);
	color: #ffffff;
  	font-size: 25px;
}


/*--------------------------------------------------------------
# Sección de Registrarse
--------------------------------------------------------------*/

#register {
	background-size: 100% 100%;
	display: table;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
}

#register .titulo{
	font-size: 40px;
	font-family: cursive;
	text-align: center;
}

#register .form-control {
    font-size: 18px;
    background-color: #000000;
    color: #ffffff;
}
  
#register .card{
	  height: auto;
	  margin-top: auto;
	  margin-bottom: auto;
	  width: auto;
	  background-color: rgba(255, 255, 255, 0.479) !important;
	  align-content: center;
	  position: relative;
	  display: -ms-flexbox;
	  display: flex;
	  flex-direction: column;
	  min-width: 0;
	  background-clip: border-box;
	  border: 1px solid rgba(0,0,0,.125);
	  border-radius: .25rem;
  }
  
  label 
  {
	color: rgb(3, 3, 3);
  }
  
  .login_btn{
	font-size: 20px;
	font-family: cursive;
	color: black;
	background-color: #ff3300;
	width: 100%;
	margin-top: 10px;
	}
	
	.login_btn:hover{
	color: rgb(255, 255, 255);
	background-color: #000000;
	}

  .login_btn2{
	  font-size: 18px;
	  font-family: cursive;
	  color: white;
	  background-color: #000000;
	  margin-top: 10px;
	  width: 100%;
  }
  
  .login_btn2:hover{
	  color: white;
	  background-color: #ff3300;
  }


  /*--------------------------------------------------------------
# Alert para notificar error
--------------------------------------------------------------*/

#alert1 .alert{
	font-size: 15px;
	color: #f8f9fa;
	background-color: #f30018;
	border-color: #ffffff;
	opacity: 1;
	padding: 3px;
	padding: 7px 15px;
}

#alert1 .close {
	float: right;
	font-size: 30px;
	font-weight: 780;
	line-height: 0.3;
}


/*--------------------------------------------------------------
# Alert para notificar cuando crea algo bien
--------------------------------------------------------------*/

#alert2 .alert{
	color: #f8f9fa;
	font-size: 15px;
    background-color: #14a232;
    border-color: #000000;
	opacity: 1;
	padding: 8px;
}

#alert2 .close {
    font-size: 30px;
    font-weight: 780;
    line-height: 0.3;
}


/* Seccion del modal Foto:
--------------------------------*/

#modalF .modal-dialog{
	height: auto;
  	margin: auto;
}

#modalF .modal-content{
	width: 400px;
	height: 400px;
	background: #ffffff;
	left: -40%;
	background-color: #050505; 
	transition: 1s; 
}

#modalF .modal-body{
	width: 400px;
	height: 400px;
    overflow-y: auto;
}

#modalF .modal-title{
	font-family: Arial rgb(255, 248, 248);
	color: #ffffff;
  	font-size: 25px;
}

/* Seccion del modal de confirmacion:
--------------------------------*/

#modalC .modal-dialog{
	overflow-y: initial !important;
	margin-right: 200px;
}

#modalC .modal-content{
	width: 470px;
	height: 310px;
	background: #ffffff;
	left: -40%;
	background-color: #000000; 
	transition: 1s; 
}

#modalC .modal-body{
	width: 400px;
	height: 400px;
}

#modalC .modal-title{
	color: #ffffff;
}

.modal_btn4{
font-size: 20px;
color: #000000;
background-color: #ffffff;
}

.modal_btn4:hover{
color: #ffffff;
background-color: #000000;
}


/* Seccion de editar usuario:
--------------------------------*/

#edit label{
	color:#f30018;
}